<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WED MUSIC Charity</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-default bg-light">
  <a class="navbar-brand" href="#">WED MUSIC Charity</a>

  <div>
    <ul class="navbar-nav">
      <li class="active">
        <a class="nav-link" href="#">Главная </a>
      </li>
      <li>
        <a class="nav-link" href="#">О нас</a>
      </li>
      <li>
        <a class="nav-link" href="#">Обратная связь</a>
      </li>
    </ul>
  </div>
</nav>
      <h2> Рекомендации
        {% if current_user.is_authenticated %}
            <a class="btn btn-outline-primary btn float-right"  href="/logout">{{ current_user.name }}</a>
        {% else %}
                <a class="btn btn-primary btn float-right" href="/register">Зарегистрироваться</a>
                <a class="btn btn-success btn float-right " href="/login">Войти</a>

        {% endif %}
      </h2>
<header>
<!--    <nav class="navbar navbar-light bg-light">-->
<!--        {% if current_user.is_authenticated %}-->
<!--            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>-->
<!--        {% else %}-->
<!--            <p>-->
<!--                <a class="btn btn-primary btn float-right" href="/register">Зарегистрироваться</a>-->
<!--                <a class="btn btn-success btn float-right " href="/login">Войти</a>-->
<!--            </p>-->
<!--        {% endif %}-->
<!--    </nav>-->
<!--</header>-->
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4" style="background-color: #778899">Исполнители</div>
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4" style="background-color: #708090">Название</div>
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-4" style="background-color: #778899">продолжительность</div>
      </div>
      {% extends "base.html" %}

  {% block content %}
      <h1>Музыка</h1>
      {% if current_user.is_authenticated %}
          <a href="news" class="btn btn-primary">Добавить песню</a>
          <a href="favorite" class="btn btn-primary">Избранное</a>
          <a href="sleep" class="btn btn-primary">Таймер сна</a>
      {% endif %}
      {% for item in news %}
          <div class="col-md6 border rounded" >
              <h2>{{ item.title }}</h2>
              <audio controls src="/static/{{item.title}}" loop="loop"> </audio>

              {% if current_user.is_authenticated %}
                      <a href="/music_like/{{ item.id }}" class="btn btn-danger">Like</a>
                      <a href="/music_delete/{{ item.id }}" class="btn btn-secondary">Delete</a>

              {% endif %}

            <div>Исполнитель - {{ item.content }}</div>
            <div> Автор - {{ item.user.name }}, Дата добавления - {{ item.created_date }} </div>
        </div>
    {% endfor %}
    {% endblock %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">XXXtentacionXXX</a>
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>




