<nav class="navbar navbar-expand-lg navbar-default bg-light">
  <a class="navbar-brand" href="/">WED MUSIC Charity</a>

  <div>
    <ul class="navbar-nav">
      <li class="active">
        <a class="nav-link" href="/">Главная </a>
      </li>
      <li>
        <a class="nav-link" href="/about_us">О нас</a>
      </li>
        <a class="nav-link" href="/support">Обратная связь</a>
    </ul>
  </div>
</nav>
{% extends "base.html" %}

{% block content %}<br>
    <h1>Мои песни</h1>
    <a href="/" class="btn btn-dark">назад</a>

    {% if mine %}
        {% for item in mine %}
            <div class="col-md6 border rounded" >
                <h2>{{ item.title }}</h2>
                <audio controls src="/static/{{item.title}}" loop="loop"> </audio>
                <a href="/music_delete/{{ item.id }}/{{ 1 }}" class="btn btn-secondary">Delete</a>
                <a href="/music_like/{{ item.id }}" class="btn btn-danger">Like</a>
            </div>
        {% endfor %}
    {% else %}
        <br><br><h4>Вы пока ничего не загрузили</h4>
    {% endif %}
{% endblock %}

