{% extends "base.html" %}

{% block content %}
    <h1>{{ name }}</h1> <br>
    <a href="/" class="btn btn-dark">назад</a> <br><br>
    {% if name == "Мои песни" and not spisok %}
        <h4>Вы пока ничего не скачали</h4>
    {% else %}
        <ol>
        {% for item in spisok %}
            <div class="col-md6 border rounded" >
                {% if name == "Топ песен" %}
                    <li><h2>{{ item }}</h2></li>
                {% else %}
                    <h2>{{ item }}</h2>
                {% endif %}
                <audio controls src="/static/{{item}}" loop="loop"> </audio>
            </div>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}

