<nav class="navbar navbar-expand-lg navbar-default bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:5000">WED MUSIC Charity</a>

  <div>
    <ul class="navbar-nav">
      <li class="active">
        <a class="nav-link" href="http://127.0.0.1:5000">Главная </a>
      </li>
      <li>
        <a class="nav-link" href="">О нас</a>
      </li>
      <li>
        <a class="nav-link" href="">Обратная связь</a>
      </li>
    </ul>
  </div>
</nav>
{% extends "base.html" %}

{% block content %}
    <h1>Таймер сна</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.switch_on.label }}
            {{ form.switch_on(class="form-control") }}
            {% for error in form.switch_on.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}